body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#game-board {
    margin: auto;
    background-color: #146b02;
    width: 80vmin;
    height: 80vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.snake {
    background-color: #32e63b;
}

.food {
    background-color: #e02626;
    border-radius: 50px;
}