@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#16171a;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
}

.game {
    background-color: #487a2b;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 4px;
}

.header div span {
    vertical-align: super;
}
